[Unit]
Description=hntoplinks app service

[Service]
WorkingDirectory={{ app_path }}
Environment=DATABASE_HOST={{ database_host }}
Environment=DATABASE_NAME={{ hntoplinks_db_name }}
Environment=DATABASE_USERNAME={{ hntoplinks_db_user }}
Environment=DATABASE_PASSWORD={{ hntoplinks_db_user_password }}
Environment=LOGGING_FILE_NAME="{{ app_log_path }}/{{ app_name }}.log"
Environment=SENDGRID_API_KEY={{ sendgrid_api_key }}
Environment=SENDPULSE_USERNAME={{ sendpulse_username }}
Environment=SENDPULSE_PASSWORD={{ sendpulse_password }}
Environment=CAPTCHA_SECRET={{ captcha_secret }}
ExecStart=/usr/bin/java -Xms128m -Xmx512m -XX:OnOutOfMemoryError="kill -9 %p" -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath={{ app_path }}/dumps -Dserver.port={{ app_port }} -jar hntoplinks.jar
User=hntoplinks
Group=app
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
