[Unit]
Description=hntoplinks app service

[Service]
WorkingDirectory={{ app_path }}
Environment=DATABASE_HOST={{ database_host }}
Environment=DATABASE_NAME={{ hntoplinks_db_name }}
Environment=DATABASE_USERNAME={{ hntoplinks_db_user }}
Environment=DATABASE_PASSWORD={{ hntoplinks_db_user_password }}
Environment=LOGGING_FILE_PATH={{ app_log_path }}
Environment=LOGGING_FILE_NAME={{ app_name }}.log
Environment=HNTOPLINKS_BASE_URL=http://localhost:8080
Environment=HNTOPLINKS_CAPTCHA_ENABLED=false
Environment=HNTOPLINKS_EMAIL_PROVIDER=mock
ExecStart=/usr/bin/java -Xms128m -Xmx512m -XX:OnOutOfMemoryError="kill -9 %p" -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath={{ app_path }}/dumps -Dserver.port={{ app_port }} -jar hntoplinks.jar 
User=hntoplinks
Group=app
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target