<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta content="WKJOe5IW0VLyH8Fiot8242DCluzN-qpVA27nXMRXXKI" name="google-site-verification"/>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"
        name="viewport">
  <link crossorigin="anonymous" rel="shortcut icon"
        th:href="@{{images}/favicon.ico(images=${@environment.getProperty('hntoplinks.images')})}">
  <link crossorigin="anonymous" media="all" rel="stylesheet"
        th:href="@{{stylesheets}/common.css(stylesheets=${@environment.getProperty('hntoplinks.stylesheets')})}">
  <link crossorigin="anonymous" media="screen" rel="stylesheet"
        th:href="@{{stylesheets}/mobile.css(stylesheets=${@environment.getProperty('hntoplinks.stylesheets')})}">

  <link href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" rel="stylesheet"/>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
  <script crossorigin="anonymous"
          th:src="@{{javascripts}/common.js(javascripts=${@environment.getProperty('hntoplinks.js')})}"
          type="text/javascript"></script>
  <title th:text="${page.title}">Page Title</title>

</head>
<body>
<div data-role="page">
  <div data-position="fixed" data-role="header">
    <th:block th:insert="fragments/menu_mobile.html :: menu-mobile ">
    </th:block>
  </div>
  <!-- /header -->
  <div data-role="main" layout:fragment="content">
  </div>
  <!-- /content -->
  <div data-position="fixed" data-role="footer" style="text-align: center;">
    <th:block th:insert="fragments/footer_mobile.html :: footer-mobile">
    </th:block>
  </div>
</div>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZE5JTHV9VY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZE5JTHV9VY');
</script>
</body>
</html>
