<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Hello, <br/>
Please click <br/>
<a href="${activationurl}" target="_blank">${activationurl}</a> <br/>
to verify your email address. Once you verified, you will start to receive Hacker News Top Links emails periodically. <br/> <br/>
If you did not register, please click <br/>
<a href="${unsubscribeurl}" target="_blank">${unsubscribeurl}</a> <br/>
to remove your email from our system completely. <br/><br/>
Best wishes, hntoplinks.com
</body>
</html>