<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Hello, <br/>
Please click <br/>
<a href="${applicationBaseURL}/subscription/activate/${subscriptionid}">${applicationBaseURL}/subscription/activate/${subscriptionid}</a> <br/>
to verify your email address. </br>
Once you verified, you will start to receive Hacker News Top Links emails periodically. <br/> <br/>
If you did not register, please click <br/>
<a href="${applicationBaseUrl}/unsubscribe/${subscriptionid}">${applicationBaseUrl}/unsubscribe/${subscriptionid}</a> <br/>
to remove your email completely. <br/><br/>
Best wishes, hntoplinks.com
</body>
</html>