<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Hello, <br/>
Please click <br/>
<a href="${activationurl}">${activationurl}</a> <br/>
to verify your email address. </br>
Once you verified, you will start to receive Hacker News Top Links emails periodically. <br/> <br/>
If you did not register, please click <br/>
<a href="${unsubscribeurl}">${unsubscribeurl}</a> <br/>
to remove your email completely. <br/><br/>
Best wishes, hntoplinks.com
</body>
</html>