<tr style="height: 5px"></tr>
<tr>
    <td align=right valign=top class="title">${index}.</td>
    <td width="5px;"></td>
    <td class="title"><a href="${url}" target="_blank">${title}</a>
        <span class="comhead"> (${comhead}) </span>
    </td>
</tr>
<tr>
    <td colspan="2"></td>
    <td class="subtext">
        <span id=score_${hnid}>${points} points</span> by
        <a href="http://news.ycombinator.com/user?id=${userid}" target="_blank">${username}</a> 18 hours ago | <a href="http://news.ycombinator.com/item?id=${hnid}" target="_blank">
        ${comment} comments</a>
    </td>
</tr>