<html xmlns:th="http://www.thymeleaf.org">
<body>
<td bgcolor=#ff6600 th:fragment="menu">
  <table border=0 cellpadding=0 cellspacing=0 style="padding: 2px"
         width="100%">
    <tr>
      <td style="width: 18px; padding-right: 4px"><a
        href="/"><img
        height=18 style="border: 1px #ffffff solid;" th:src="@{{images}/y81.gif(images=${@environment.getProperty('hntoplinks.images')})}"
        width=18/> </a>
      </td>
      <td style="line-height: 12pt; height: 10px;">
                        <span class="pagetop">
                            <b><a href="/">Hacker News Top Links</a> </b>
                            <th:block
                              th:if="${page instanceof T(com.eguller.hntoplinks.models.StoryPage) and page.activeTab == T(com.eguller.hntoplinks.models.PageTab).today}">
                                <span class="topsel">
                                    <a href="/today">today</a>
                                </span> |
                            </th:block>
                            <th:block
                              th:if="${!(page instanceof T(com.eguller.hntoplinks.models.StoryPage)) or page.activeTab != T(com.eguller.hntoplinks.models.PageTab).today}">
                                <a href="/today">today</a> |
                            </th:block>

                            <th:block
                              th:if="${page instanceof T(com.eguller.hntoplinks.models.StoryPage) and page.activeTab == T(com.eguller.hntoplinks.models.PageTab).week}">
                                <span class="topsel">
                                    <a href="/week">this week</a>
                                </span> |
                            </th:block>
                            <th:block
                              th:if="${!(page instanceof T(com.eguller.hntoplinks.models.StoryPage)) or page.activeTab != T(com.eguller.hntoplinks.models.PageTab).week}">
                                <a href="/week">this week</a> |
                            </th:block>

                            <th:block
                              th:if="${page instanceof T(com.eguller.hntoplinks.models.StoryPage) and page.activeTab == T(com.eguller.hntoplinks.models.PageTab).month}">
                                <span class="topsel">
                                    <a href="/month">this month</a>
                                </span> |
                            </th:block>
                            <th:block
                              th:if="${!(page instanceof T(com.eguller.hntoplinks.models.StoryPage)) or page.activeTab != T(com.eguller.hntoplinks.models.PageTab).month}">
                                <a href="/month">this month</a> |
                            </th:block>

                            <th:block
                              th:if="${page instanceof T(com.eguller.hntoplinks.models.StoryPage) and page.activeTab == T(com.eguller.hntoplinks.models.PageTab).year}">
                                <span class="topsel">
                                    <a href="/year">this year</a>
                                </span> |
                            </th:block>
                            <th:block
                              th:if="${!(page instanceof T(com.eguller.hntoplinks.models.StoryPage)) or page.activeTab != T(com.eguller.hntoplinks.models.PageTab).year}">
                                <a href="/year">this year</a> |
                            </th:block>

                            <th:block
                              th:if="${page instanceof T(com.eguller.hntoplinks.models.StoryPage) and page.activeTab == T(com.eguller.hntoplinks.models.PageTab).all}">
                                <span class="topsel">
                                    <a href="/all">all time</a>
                                </span> |
                            </th:block>
                            <th:block
                              th:if="${!(page instanceof T(com.eguller.hntoplinks.models.StoryPage)) or page.activeTab != T(com.eguller.hntoplinks.models.PageTab).all}">
                                <a href="/all">all time</a> |
                            </th:block>
                        </span>
                        <!--
                        <span class="pagetop right">
                            <th:block th:if="${#httpServletRequest.requestURI == '/subscribe'}">
                                <span class="topsel">
                                    <a href="/subscribe">Subscribe</a>
                                </span>
                            </th:block>
                            <th:block th:if="${#httpServletRequest.requestURI != '/subscribe'}">
                                <a href="/subscribe">Subscribe</a>
                            </th:block>
                        </span>
                        -->
      </td>
    </tr>
  </table>
</td>
</body>
</html>
