<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div data-role="navbar" th:fragment="menu-mobile">
  <ul>
    <th:block
      th:if="${page instanceof T(com.eguller.hntoplinks.models.StoryPage) and page.activeTab == T(com.eguller.hntoplinks.models.PageTab).today}">
      <li><a class="ui-btn-active ui-state-persist" data-transition="slide" href="/">Today</a></li>
    </th:block>
    <th:block
      th:if="${!(page instanceof T(com.eguller.hntoplinks.models.StoryPage)) or page.activeTab != T(com.eguller.hntoplinks.models.PageTab).today}">
      <li><a data-transition="slide" href="/">Today</a></li>
    </th:block>
    <th:block
      th:if="${page instanceof T(com.eguller.hntoplinks.models.StoryPage) and page.activeTab == T(com.eguller.hntoplinks.models.PageTab).week}">
      <li><a class="ui-btn-active ui-state-persist" data-transition="slide" href="/week">Week</a></li>
    </th:block>
    <th:block
      th:if="${!(page instanceof T(com.eguller.hntoplinks.models.StoryPage)) or page.activeTab != T(com.eguller.hntoplinks.models.PageTab).week}">
      <li><a data-transition="slide" href="/week">Week</a></li>
    </th:block>
    <th:block
      th:if="${page instanceof T(com.eguller.hntoplinks.models.StoryPage) and page.activeTab == T(com.eguller.hntoplinks.models.PageTab).month}">
      <li><a class="ui-btn-active ui-state-persist" data-transition="slide" href="/month">Month</a></li>
    </th:block>
    <th:block
      th:if="${!(page instanceof T(com.eguller.hntoplinks.models.StoryPage)) or page.activeTab != T(com.eguller.hntoplinks.models.PageTab).month}">
      <li><a data-transition="slide" href="/month">Month</a></li>
    </th:block>
    <th:block
      th:if="${page instanceof T(com.eguller.hntoplinks.models.StoryPage) and page.activeTab == T(com.eguller.hntoplinks.models.PageTab).year}">
      <li><a class="ui-btn-active ui-state-persist" data-transition="slide" href="/year">Year</a></li>
    </th:block>
    <th:block
      th:if="${!(page instanceof T(com.eguller.hntoplinks.models.StoryPage)) or page.activeTab != T(com.eguller.hntoplinks.models.PageTab).year}">
      <li><a data-transition="slide" href="/year">Year</a></li>
    </th:block>
    <th:block
      th:if="${page instanceof T(com.eguller.hntoplinks.models.StoryPage) and page.activeTab == T(com.eguller.hntoplinks.models.PageTab).all}">
      <li><a class="ui-btn-active ui-state-persist" data-transition="slide" href="/all">All</a></li>
    </th:block>
    <th:block
      th:if="${!(page instanceof T(com.eguller.hntoplinks.models.StoryPage)) or page.activeTab != T(com.eguller.hntoplinks.models.PageTab).all}">
      <li><a data-transition="slide" href="/all">All</a></li>
    </th:block>
  </ul>
</div>
</body>
</html>
