<tr style="height: 5px"></tr>
<tr>
  <td align=right valign="top">${_index}.</td>
  <td width="5px;"></td>
  <td style="text-align: left;">
    <a href="${_item.url}" target="_blank">${_item.title}</a>
    #{if _item.comhead}
    <span style="font-size: 8pt;"> (${_item.comhead}) </span>
    #{/if}
  </td>
</tr>
<tr>
  <td colspan="2"></td>
  <td style="font-size: 7pt; text-align: left;">
        <span id="score_${_item.hnid}">
            ${_item.getPointStr()}
        </span> by
    <a href="http://news.ycombinator.com/user?id=${_item.user}" target="_blank">${_item.user}</a> ${new
    Date(_item.date.getTime()).since()} | <a href="http://news.ycombinator.com/storyEntity?id=${_item.hnid}"
                                             target="_blank">
    ${_item.getCommentStr()}</a>
  </td>
</tr>
