<li data-icon="comment" data-iconpos="top">
	<a href="${_item.url}" target="_blank" >
		<span style="font-size: 13px;white-space:normal;">${((_page - 1) * 30) + _index}. ${_item.title}</span>
		#{if _item.comhead}
			<span style="font-size: 10px;"> (${_item.comhead}) </span>
		#{/if}
		<br><span style="font-size: 9px;">

		by ${_item.user} ${new Date(_item.date.getTime()).since()} |
			#{if _item.points > -1}
				${_item.points}
				#{if _item.points > 1}
					points
				#{/if}
				#{else}
					point
				#{/else}
			#{/if}
			#{else}
				0 point
			#{/else}			
		</span>
	</a>
	<a href="https://news.ycombinator.com/item?id=${_item.hnid}" target="_blank">
        Comments
	</a>
</li>