<div data-role="navbar">
  <ul>
    #{if _activeTab == cache.CacheUnit.today}
    <li><a class="ui-btn-active ui-state-persist" data-transition="slide" href="/">Today</a></li>
    #{/if}
    #{else}
    <li><a data-transition="slide" href="/">Today</a></li>
    #{/else}

    #{if _activeTab == cache.CacheUnit.week}
    <li><a class="ui-btn-active ui-state-persist" data-transition="slide" href="/week">Week</a></li>
    #{/if}
    #{else}
    <li><a data-transition="slide" href="/week">Week</a></li>
    #{/else}

    #{if _activeTab == cache.CacheUnit.month}
    <li><a class="ui-btn-active ui-state-persist" data-transition="slide" href="/month">Month</a></li>
    #{/if}
    #{else}
    <li><a data-transition="slide" href="/month">Month</a></li>
    #{/else}

    #{if _activeTab == cache.CacheUnit.year}
    <li><a class="ui-btn-active ui-state-persist" data-transition="slide" href="/year">Year</a></li>
    #{/if}
    #{else}
    <li><a data-transition="slide" href="/year">Year</a></li>
    #{/else}

    #{if _activeTab == cache.CacheUnit.all}
    <li><a class="ui-btn-active ui-state-persist" data-transition="slide" href="/all">All</a></li>
    #{/if}
    #{else}
    <li><a data-transition="slide" href="/all">All</a></li>
    #{/else}
  </ul>
</div>
