server {
    listen       80;
    listen       [::]:80;
    listen       443 ssl;
    listen       [::]:443 ssl;

    server_name {{ domain_name }};

    ssl_certificate      /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
    ssl_certificate_key  /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;

    location /.well-known/acme-challenge/ {
      allow all;
      alias {{ nginx_public_html_path }}/.well-known/acme-challenge/;
    }

    location / {
      root {{ nginx_public_html_path }};
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_pass http://localhost:{{ app_port }};
    }
}

server {
    listen       80;
    listen       [::]:80;
    listen       443 ssl;
    listen       [::]:443 ssl;

    server_name www.{{ domain_name }};

    ssl_certificate      /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
    ssl_certificate_key  /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;

    location /.well-known/acme-challenge/ {
      allow all;
      alias {{ nginx_public_html_path }}/.well-known/acme-challenge/;
    }

    location / {
      root {{ nginx_public_html_path }};
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_pass http://localhost:{{ app_port }};
    }
}
