<html layout:decorate="~{layouts/mobile}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>

#{form @Application.doSubscribe(newSubscription), id:"subscribe", method:"POST"}
<fieldset data-role="controlgroup">
  <label for="newSubscription.daily">Daily Top Links</label>
  <input ${subscription.daily ? id="newSubscription.daily"
         name="newSubscription.daily" type="checkbox" "checked" : ""}/>
  <input name="newSubscription.daily" type="hidden" value="false"/>

  <label for="newSubscription.weekly">Weekly Top Links</label>
  <input ${subscription.weekly ? id="newSubscription.weekly"
         name="newSubscription.weekly" type="checkbox" "checked" : ""}/>
  <input name="newSubscription.weekly" type="hidden" value="false"/>

  <label for="newSubscription.monthly">Monthly Top Links</label>
  <input ${subscription.monthly ? id="newSubscription.monthly"
         name="newSubscription.monthly" type="checkbox" "checked" : ""}/>
  <input name="newSubscription.monthly" type="hidden" value="false"/>

  <label for="newSubscription.annually">Annually Top Links</label>
  <input ${subscription.annually ? id="newSubscription.annually"
         name="newSubscription.annually" type="checkbox" "checked" : ""}/>
  <input name="newSubscription.annually" type="hidden" value="false"/>
</fieldset>
<label class="ui-hidden-accessible" for="newSubscription.email">Email</label>
<input data-clear-btn="true" id="newSubscription.email" name="newSubscription.email" placeholder="Email"
       type="email" value="${subscription.email}"/>
<input name="randomId" type="hidden" value="${randomId}"/>
<input name="timeZoneOffSet" type="hidden" value=""/>
#{if captchaRequired}
<label class="ui-hidden-accessible" for="captchaText">Email</label>
<input data-clear-btn="true" id="captchaText" name="captchaText" placeholder="Text shown below" type="text" value=""/>
<img src="@{Application.captcha(randomId)}"/>
#{/if}
<button class="ui-shadow ui-btn ui-corner-all" id="submitSubscription" onclick="submitSubscriptionForm();"
        type="submit">Submit
</button>
#{/form}
#{ifErrors}

<ul class="error">
  #{errors}
  <li>${error}</li>
  #{/errors}
</ul>

#{/ifErrors}
