<html xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:fragment="item_mobile">
  <li data-icon="comment" data-iconpos="top">
    <a th:href="@{${story.url}}">
            <span style="font-size: 13px;white-space:normal;"
                  th:text="${storyIndex} + '. ' + ${story.title}"
                  th:with="storyIndex=${ (page.currentPage - 1) * page.storyPerPage + storyIndex}">Story title</span>
      <th:block th:if="${story.hasComhead()}">
        <span style="font-size: 10px;" th:text="'(' + ${story.comhead} + ')'"> Domain </span>
      </th:block>
      <br>
      <span style="font-size: 9px;">
        		by <th:block th:text="${story.user}"/> <th:block th:text="${story.since}"/> | <th:block
        th:text="${story.points} + ' points'"/>
		    </span>
    </a>
    <a th:href="@{https://news.ycombinator.com/item(id=${story.hnid})}">
      Comments
    </a>
  </li>
</th:block>
</body>
