<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
</head>
<body style="font-family: Verdana;font-size: 10pt;color: #828282;">
<center>
  <table bgcolor=#F6F6EF border=0 cellpadding=0 cellspacing=0 width="85%">
    <tr>
      <td bgcolor=#ff6600 colspan="3">
        <table border=0 cellpadding=0 cellspacing=0 style="padding: 2px"
               width="100%">
          <tr>
            <td style="line-height: 12pt; height: 10px;">
			    			<span style="color:#222222;">
                  <b><th:block th:text="${data.subject}"> </th:block></b>
							</span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table border="0" cellpadding="0" cellspacing="0">
          <th:block th:each="story,iterStat : ${data.storyList}">
            <th:block th:insert="/fragments/item.html :: item(story=${story}, storyIndex=${iterStat.count})"/>
        </th:block>
        </table>
      </td>
    </tr>
    <tr style="height: 5px"></tr>
    <tr style="height:5px"></tr>
    <tr style="height:10px"></tr>
    <tr>
      <td colspan="3">
        <table cellpadding="1" cellspacing="0" width="100%">
          <tbody>
          <tr>
            <td bgcolor="#ff6600"></td>
          </tr>
          </tbody>
        </table>
        <br>
        <center>
					<span style="font-size: 8pt;">
                		| <a th:href="@{${data.unsubscribeUrl}}">Unsubscribe</a>
                		| <a th:href="@{${data.updateSubscriptionUrl}}">Modify Subscription</a>
                		|
					</span>
          <br><br>
        </center>
      </td>
    </tr>
  </table>
</center>
</body>
</html>
