<html layout:decorate="~{layouts/main}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <th:block layout:fragment="page-css">
    <th:block th:replace="~{fragments/css :: stories}"/>
  </th:block>
</head>
<main layout:fragment="content">
  <div class="story-controls">
    <div class="current-view" th:text="${page.content.title}">
      Today
    </div>
    <div class="view-toggle">
      <input type="radio" id="upvotes" name="view" value="upvotes"
             th:checked="${T(com.eguller.hntoplinks.entities.SortType).UPVOTES.getValue().equals(page.content.sortBy.getValue())}"
             onchange="window.location.href = this.checked ? updateQueryParam('sort', 'upvotes') : null">
      <label for="upvotes">Most Upvoted</label>

      <input type="radio" id="comments" name="view" value="comments"
             th:checked="${T(com.eguller.hntoplinks.entities.SortType).COMMENTS.getValue().equals(page.content.sortBy.getValue())}"
             onchange="window.location.href = this.checked ? updateQueryParam('sort', 'comments') : null">
      <label for="comments">Most Commented</label>
    </div>
  </div>

  <div class="stories">
    <div th:each="story, iterStat : ${page.content.stories}" class="story">
      <span class="story-rank" th:text="${((page.content.currentPage - 1) * page.content.storiesPerPage) + iterStat.count} + '.'">1.</span>
      <div class="story-content">
        <div>
          <a th:href="${#fmt.url(story)}" class="story-title" th:text="${story.title}">Story Title</a>
          <th:block th:with="domain=${#fmt.domainName(story.url)}">
          <span class="domain"
                th:if="${domain}"
                th:text="'(' + ${domain} + ')'">
          </span>
          </th:block>
        </div>
        <div class="story-meta">
          <span th:text="${story.score}">100</span> points by
          <a th:href="@{https://news.ycombinator.com/user(id=${story.by})}" th:text="${story.by}">author</a>
          <th:block th:with="time=${#fmt.since(story.time)}">
            <span th:text="${time}">1 hour ago</span> |
          </th:block>
          <a th:href="@{https://news.ycombinator.com/item(id=${story.id})}" th:text="${story.descendants + ' comments'}">comments</a>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination" th:if="${page.content.totalPages > 1}">
    <a th:if="${page.content.currentPage > 1}" th:href="@{${page.currentPath}(page=${page.content.currentPage - 1}, sort=${page.content.sortBy != null ? page.content.sortBy.value : null})}">&laquo;
      Previous</a>
    <a th:if="${page.content.currentPage < page.content.totalPages}"
       th:href="@{${page.currentPath}(page=${page.content.currentPage + 1}, sort=${page.content.sortBy != null ? page.content.sortBy.value : null})}">Next &raquo;</a>
  </div>
</main>
