<html layout:decorate="~{layouts/mobile}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<div layout:fragment="content">
  <form id="subscribe" method="POST" th:action="@{/subscribe}" th:object="${subscriptionForm}">
    <fieldset data-role="controlgroup">
      <label for="subscription.daily">Daily Top Links</label>
      <input id="subscription.daily" type="checkbox" th:field="*{selectedPeriods}" th:value="${T(com.eguller.hntoplinks.entities.Period).DAILY}"/>

      <label for="subscription.weekly">Weekly Top Links</label>
      <input id="subscription.weekly" type="checkbox" th:field="*{selectedPeriods}" th:value="${T(com.eguller.hntoplinks.entities.Period).WEEKLY}"/>


      <label for="subscription.monthly">Monthly Top Links</label>
      <input id="subscription.monthly" type="checkbox" th:field="*{selectedPeriods}" th:value="${T(com.eguller.hntoplinks.entities.Period).MONTHLY}"/>

      <label for="subscription.annually">Yearly Top Links</label>
      <input id="subscription.annually" type="checkbox" th:field="*{selectedPeriods}" th:value="${T(com.eguller.hntoplinks.entities.Period).YEARLY}"/>

    </fieldset>
    <label class="ui-hidden-accessible" for="subscription.email">Email</label>
    <input data-clear-btn="true" id="subscription.email" name="subscription.email" placeholder="Email"
           type="email" th:field="*{email}" th:value="*{email}" />

    <input name="subscription.subsUUID" type="hidden" th:field="*{subsUUID}" th:value="*{subsUUID}"/>
    <input type="hidden" th:field="*{timeZone}" th:value="UTC" />
    <th:block th:if="${page.captchaEnabled}">
      <div style="text-align: center;">
        <div class="g-recaptcha" data-sitekey="6LeciUUeAAAAAMixTT0VHQ3JyCih1jpz_4zRK_0b"
             data-callback="enableSubscriptionFormSubmit" data-size="normal"></div>
      </div>
      <input type="hidden" name="g-recaptcha-response" th:value="dummy" />

    </th:block>

    <button class="ui-shadow ui-btn ui-corner-all" id="subscription.submit" name="subscription.submit"
            th:disabled="${page.captchaEnabled}" onclick="submitSubscriptionForm();"
            type="submit">Submit
    </button>

  </form>
  <th:block th:if="${page.hasMessages()}">
    <ul class="green">
      <th:block th:each="error: ${page.messages}">
        <li th:text="${error}"></li>
      </th:block>
    </ul>
  </th:block>
  <th:block th:if="${page.hasErrors()}">
    <ul class="error">
      <th:block th:each="error: ${page.errors}">
        <li th:text="${error}"></li>
      </th:block>
    </ul>
  </th:block>

</div>
