<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Hello, <br/>
Please click <br/>
<a href="${subscription.getActivationUrl()}" target="_blank">${subscription.getActivationUrl()}</a> <br/>
to verify your email address. Once you have been verified, you will start to receive Hacker News Top Links emails periodically. <br/> <br/>
If you think, you did not register, please click <br/>
<a href="${subscription.getUnSubsribeUrl()}" target="_blank">${subscription.getUnSubsribeUrl()}</a> <br/>
to remove your email from our system completely. <br/><br/>
Best wishes, <a href="http://www.hntoplinks.com" target="_blank">hntoplinks.com</a>
</body>
</html>