#{extends 'main.html' /}
<table border=0 cellpadding=0 cellspacing=0 width="85%" bgcolor=#f6f6ef>
    <tr>
        <td bgcolor=#ff6600>#{menu activeTab:activeTab/}</td>
    </tr>
    <tr style="height: 10px"></tr>
    <tr>
        <td class="about">
            Hello,
            <p>
                I am a big fan of <a href="http://news.ycombinator.com" target="_blank">Hacker News</a> but sometimes I do not
                have time to check it frequently so I created this web page, so I can read daily, weekly, monthly top news
                to stay up to date. I also advice you to take look at <a href="http://news.ycombinator.com/best">Hacker News Best</a>, it also does similar job.
            </p>

            <p>There are also other alternatives to help Hacker News fans to read it more efficiently</p>
            <ul>
                <li><a href="https://chrome.google.com/webstore/detail/hacker-news-ux/chngbdmhgakoomomnnhfapkpbalpmhid" target="_blank">Hacker News UX</a> - Chrome Application</li>
                <li><a href="http://hckrnews.com/" target="_blank">hckr news</a> - An alternative UI</li>
                <li><a href="http://www.flipboard.com/" target="_blank">flipboard</a></li>
                <li><a href="http://hacker-newspaper.gilesb.com/" target="_blank">Hacker Newspaper</a></li>
                <li><a href="http://hackermonthly.com/" target="_blank">Hacker Monthly</a> - The Best of Hacker News, in Print</li>
            </ul>
            <p>
            Please check article at <a href="http://mashable.com/2010/12/01/improve-hacker-news-ui/" target="_blank">Mashable</a> for details of alternative applications. <br>
            Source code is availabe at <a href="https://github.com/bisanthe/hntoplinks" target="blank">github</a>. <br>
            For questions/suggestions please send email to <img src="@{'/public/images/enginguller1.png'}" alt=""></p>
        </td>
    </tr>
#{footer /}
</table>