#{extends 'main.html' /}
<table border=0 cellpadding=0 cellspacing=0 width="85%" bgcolor=#f6f6ef>
    <tr>
        #{menu activeTab:'subscribe'/}
    </tr>
    <tr style="height: 10px"></tr>
    <tr>
        <td colspan="2">
            #{form @Application.modifySubscription(subscription), id:"subscribe", method:"POST"}
            <input type="hidden" name="subscription.subsUUID" value="${existingSubscription.subsUUID}">
            <table border=0 cellpadding=0 cellspacing=0 style="margin-left: 30%;">
                <tr>
                    <td colspan="2" class="head">Subscribe Hacker News Top Links</td>
                </tr>
                <tr>
                    <td class="cright">Daily Top Links</td>
                    <td class="cleft">
                        <input type="checkbox" name="subscription.daily" ${existingSubscription.daily ? "checked" : ""}/>
                        <input type="hidden" name="subscription.daily" value="false" />

                    </td>
                </tr>
                <tr>
                    <td class="cright">Weekly Top Links</td>
                    <td class="cleft">
                        <input type="checkbox" name="subscription.weekly"  ${existingSubscription.weekly ? "checked" : ""}/>
                        <input type="hidden" name="subscription.weekly" value="false" />

                    </td>
                </tr>
                <tr>
                    <td class="cright">Monthly Top Links</td>
                    <td class="cleft">
                        <input type="checkbox" name="subscription.monthly" ${existingSubscription.monthly ? "checked" : ""}/>
                        <input type="hidden" name="subscription.monthly" value="false" />
                    </td>
                </tr>
                <tr>
                    <td class="cright">Annually Top Links</td>
                    <td class="cleft">
                        <input type="checkbox" name="subscription.annually" ${existingSubscription.annually ? "checked" : ""}/>
                        <input type="hidden" name="subscription.annually" value="false" />
                    </td>
                </tr>
                <tr>
                    <td class="cright">Email</td>
                    <td class="cleft">
                        ${existingSubscription.email}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="cright">
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </table>
            #{/form}
        </td>
    </tr>
    #{footer /}
</table>