<!DOCTYPE html>
<html>
<head>
  <meta content="WKJOe5IW0VLyH8Fiot8242DCluzN-qpVA27nXMRXXKI" name="google-site-verification"/>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="@{'/public/images/favicon.ico'}" rel="shortcut icon">
  <link href="@{'/public/stylesheets/common.css'}" media="all"
        rel="stylesheet">
  <link href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" rel="stylesheet"/>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
  <script src="@{'/public/javascripts/common.js'}" type="text/javascript"></script>
  <title>${title}</title>

</head>
<body>
<div data-role="page">
  <div data-position="fixed" data-role="header">
    #{menu_mobile activeTab:activeTab/}
  </div>
  <!-- /header -->
  <div data-role="main">
    #{doLayout /}
  </div>
  <!-- /content -->
  <div data-position="fixed" data-role="footer" style="text-align: center;">
    #{footer_mobile /}
  </div>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7030369-6']);
  _gaq.push(['_trackPageview']);

  (function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl'
        : 'http://www')
      + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
