name: Build and Deploy
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
      - name: Build with Gradle
        uses: gradle/gradle-build-action@4137be6a8bf7d7133955359dbd952c0ca73b1021
        with:
          arguments: build

      - uses: actions/upload-artifact@v3
        with:
          name: hntoplinks.jar
          path: app/build/libs/hntoplinks.jar

  deploy:
    concurrency: prod_environment
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@master
        with:
          name: hntoplinks.jar
          path: app/build/libs/

      - name: Run playbook
        uses: dawidd6/action-ansible-playbook@v2
        with:
          # Required, playbook filepath
          playbook: site.yml
          # Optional, directory where playbooks live
          directory: ./infra/ansible
          # Optional, SSH private key
          key: ${{secrets.SSH_PRIVATE_KEY}}
          options: |
            --inventory prod.yml
            --extra-vars postgres_db_user_password=${{ secrets.POSTGRES_DB_USER_PASSWORD }}
            --extra-vars hntoplinks_db_user_password=${{ secrets.HNTOPLINKS_DB_USER_PASSWORD }}
            --extra-vars sendgrid_api_key=${{ secrets.SENDGRID_API_KEY }}
            --extra-vars sendpulse_username=${{ secrets.SENDPULSE_USERNAME }}
            --extra-vars sendpulse_password=${{ secrets.SENDPULSE_PASSWORD }}
            --extra-vars sendinblue_username=${{ secrets.SENDINBLUE_USERNAME }}
            --extra-vars sendinblue_password=${{ secrets.SENDINBLUE_PASSWORD }}
            --extra-vars captcha_secret=${{ secrets.CAPTCHA_SECRET }}
            --extra-vars admin_email=${{ secrets.ADMIN_EMAIL }}
