on:
  push:
    branches:
      - feature/digital-ocean-migration
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
      - name: Build with Gradle
        uses: gradle/gradle-build-action@4137be6a8bf7d7133955359dbd952c0ca73b1021
        with:
          arguments: build

      - uses: actions/upload-artifact@v3
        with:
          name: hntoplinks.jar
          path: app/build/libs/hntoplinks.jar

  deploy:
    runs-on: ubuntu-latest  
    needs: build
    steps:  
      - uses: actions/checkout@v2    
      - uses: actions/download-artifact@master
        with:
          name: hntoplinks.jar
          path: app/build/libs/

      - name: Show directory structure of artifacts           
        run: ls -R

      - name: Run playbook
        uses: dawidd6/action-ansible-playbook@v2
        with:
          # Required, playbook filepath
          playbook: site.yml
          # Optional, directory where playbooks live
          directory: ./infra/ansible
          # Optional, SSH private key
          key: ${{secrets.SSH_PRIVATE_KEY}}
          options: |
            --inventory prod.yml
            --extra-vars postgres_db_user_password=${{ secrets.POSTGRES_DB_USER_PASSWORD }}
            --extra-vars hntoplinks_db_user_password=${{ secrets.HNTOPLINKS_DB_USER_PASSWORD }}
            --extra-vars sendgrid_api_key=${{ secrets.SENDGRID_API_KEY }}
            --extra-vars captcha_secret=${{ secrets.CAPTCHA_SECRET }}
       
          



